@media screen and (max-width: 600px) {
    #btn-mobile {
        display: block;
        color: white;
        font-size: 30px;
        padding: 10px;
        cursor: pointer;
    }
    
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 80px;
        right: 0px;
        background-color: black;
        transition: .4s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(100vh - 80px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid gray;
    }
}