@charset "UTF-8";

body, ul {
    margin: 0px;
    padding: 0px;
}

/* Configurações para o header de um site*/

#header {
    background-color: black;
    box-sizing: border-box;
    height: 80px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
}

#menu {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

#menu a {
    display: block;
    padding: 0.7rem;
}

#menu a:hover {
    color: tomato;
}

#btn-mobile {
    display: none;
}

/* Configurações para o header de um site*/